*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    
    background: #68BB59;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin: 0.75rem 0rem 0.75rem 0rem;
    padding: 0.75rem 0rem 0.75rem 0rem;
    font-family: Georgia;
}
.h4-header{
    text-align: center;
    margin: 0.75rem 0.5rem 0 0.5rem;
    padding: 0.75rem 0.5rem 0 0.5rem;
    line-height: 1.6rem;
    font-weight: normal;
    font-family: Georgia;
}
.bmi-grid{
    display: grid;
    justify-content: space-around;
    border: solid 2px lightgrey;
    margin: 5% 15% 15% 15%;
    background: #4C9A2A;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 75px);
    grid-row-gap: 30px;
}
h6{
    line-height: 1.4rem;
    margin-bottom: 6px;
}
.h4-grid{
    font-size: 21px;
    text-align: center;
    border-bottom: solid 2px lightgrey;
    background: #ACDF87;
    padding: 15px;
    
    
}
#grid-height{
    margin: 0px 20px 20px 20px;
    padding: 10px;
    align-self: center;
    
}
#grid-weight{
    margin: 0 20px 20px 20px;
    padding: 10px;
    border-top: solid lightgrey 1px;
    align-self: center;
}
#grid-age{
    margin: 0 20px;
    padding: 10px;
    border-top: solid lightgrey 1px;
    align-self: center;
}
#grid-sex{
    margin: 0 20px;
    padding: 10px;
    border-top: solid lightgrey 1px;
    align-self: center;
}
#grid-calculate{
    margin: 10px;
    padding: 10px;
    border-top: solid lightgrey 1px;
    align-self: center;
    border-bottom: solid lightgrey 1px;
}
#grid-result{
    margin: 0px 20px 0px 20px;
    padding: 0px 20px  0px 20px;
    margin-bottom: 20px;
    display: none;
    align-self: center;
    font-family: Verdana;
    flex-wrap: wrap;
    height: 100%;

    
}

input{
    border-radius: 5%;
    border: solid 1px lightgrey;
    height: 2rem;
    width: 50%;
    padding-left: 10px;
    

}
#male{
    margin-left: 10px;
}
#female{
    margin-left: 10px;
}
button{
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 2px lightgrey;
    background: #ACDF87;
    padding: 15px;
    margin-left: 10px;
}
.big{
font-size: 1.1rem;
}
.small{
font-size: 0.9rem;
font-weight: normal;
}

@media only screen and (max-width: 970px){
    #grid-result {
        font-size: 6px;
        margin: 0px;
        padding: 0px;
        align-self: start;
     }
     .bmi-grid{
        margin: 15px 0px 0px 0px;;
        width: 100%;
        grid-template-rows: repeat(7, 110px);
        justify-content: start;
     }
}

@media only screen and (max-width: 1300px){
    #grid-result {
        font-size: 14px;
    }
}